$breakpoints: (
  'mini-mobile': (
    min: 0px,
    max: 479px,
  ),
  'mobile': (
    min: 480px,
    max: 767px,
  ),
  'tablet': (
    min: 768px,
    max: 1023px,
  ),
  'big-tablet': (
    min: 1024px,
    max: 1199px,
  ),
  'mini-laptop': (
    min: 1200px,
    max: 1359px,
  ),
  'laptop': (
    min: 1360px,
    max: 1919px,
  ),
  'desktop': (
    min: 1920px,
    max: 9999px,
  ),
);
