@use '../../../../scss/base/lms-section' as *;

/* =================== TOOLS GRID =================== */

.lms-tools-grid {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem 1.3rem;
}
