@use '../../../scss/base/mixins' as *;
@use '../../../scss/base/variables' as *;

.sign {
  @include flex(column, center, center);

  > ._2in1 {
    width: 100%;

    @include flex(row, space-between, center);
    gap: 0.25rem;

    margin: 0.25rem;

    > input {
      width: 50%;
      padding: 0.5rem;
      border-radius: 0.25rem;
      border-color: transparent;
    }
  }

  > .num {
    width: 100%;
    margin: 0.25rem;
    @include flex(row, space-between, center);
    gap: 0.25rem;

    > input {
      width: 65%;
      padding: 0.5rem;
      border-radius: 0.25rem;
      border-color: transparent;
    }
    > select {
      width: 35%;
      padding: 0.5rem;
      border-radius: 0.25rem;
      border-color: transparent;

      > option {
        font-size: x-small;
      }
    }
  }
  > input {
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    border-color: transparent;
    width: 100%;
  }
  > .buttonContainer {
    width: 100%;

    @include mediafast(mini-mobile, mobile, tablet) {
      @include flex(column, center, center);
    }
    @include mediafast(big-tablet, mini-laptop, laptop, desktop) {
      @include flex(row, flex-start, center);
    }

    > button {
      padding: 0.5rem;
      margin: 0.25rem;
      border-radius: 0.25rem;
      border-color: transparent;
      background-color: cadetblue;
      color: azure;
    }
    > a {
      font-size: x-small;
      text-decoration: none;
      color: rgb(102, 101, 101);
    }
  }
}
