@use '../../../scss/base/mixins' as *;
@use '../../../scss/base/variables' as *;

.login {
  @include flex(column, center, center);
  > input {
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 0.25rem;
    border-color: transparent;
    width: 100%;
  }
  > .buttonContainer {
    width: 100%;

    @include mediafast(mini-mobile, mobile, tablet) {
      @include flex(column, center, center);
    }
    @include mediafast(big-tablet, mini-laptop, laptop, desktop) {
      @include flex(row, flex-start, center);
    }

    > button {
      padding: 0.5rem;
      margin: 0.25rem 0;
      border-radius: 0.25rem;
      border-color: transparent;
    }
    > a {
      font-size: x-small;
      text-decoration: none;

      margin: 0.25rem;
    }
  }
}
