@use '../../../../scss/base/lms-section' as *;

/* =================== GRID =================== */

.lms-courses-grid {
  margin-top: 0.5rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 1rem 1.3rem;
}

@media (max-width: 900px) {
  .lms-courses-grid {
    justify-content: center;
  }
}
