@use '../../scss/base/mixins' as *;
@use '../../scss/base/variables' as *;

.externalContainer {
  width: 100%;
  height: 100%;
  @include mediafast(mini-mobile, mobile, tablet) {
    @include grid-system(1, 5rem auto, 'nav nav' 'con con');
  }

  @include mediafast(big-tablet, mini-laptop, laptop, desktop) {
    @include grid-system(6rem auto, auto, 'nav con');
  }

  > .externalNav {
    grid-area: nav;

    background-color: rgb(141, 143, 143);

    @include mediafast(mini-mobile, mobile, tablet) {
      @include flex(row, space-between, center);
    }

    @include mediafast(big-tablet, mini-laptop, laptop, desktop) {
      @include flex(column, space-between, center);
      margin: 0.5rem;
      border-radius: 1rem;
    }
    > .logo {
      margin: 1rem;
      @include mediafast(mini-mobile, mobile, tablet) {
        @include flex(row, space-between, center);
      }

      @include mediafast(big-tablet, mini-laptop, laptop, desktop) {
        @include flex(column, space-between, center);
      }
      > svg {
        width: 2rem;
      }
      > h1 {
        font-size: medium;
      }
    }
    > .navigationButtons {
      @include mediafast(mini-mobile, mobile) {
        display: none;
        // @include flex(column, center, center);
      }
      ul {
        @include mediafast(tablet) {
          @include flex(row, center, center);
        }

        @include mediafast(big-tablet, mini-laptop, laptop, desktop) {
          @include flex(column, center, center);
        }
        li {
          padding: 1rem;
          @include flex(column, center, center);

          .services {
            .st0 {
              fill: none;
              stroke: #000000;
              stroke-width: 2;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-miterlimit: 10;
            }
            .st1 {
              fill: none;
              stroke: #000000;
              stroke-width: 2;
              stroke-linecap: round;
              stroke-linejoin: round;
            }
            .st2 {
              fill: none;
              stroke: #000000;
              stroke-width: 2;
              stroke-linecap: round;
              stroke-linejoin: round;
              stroke-dasharray: 5.2066, 0;
            }
          }

          > a {
            width: 3rem;
            height: 3rem;
            text-align: center;
            white-space: normal; /* يسمح بانتقال السطر بين الكلمات فقط */
            overflow-wrap: normal; /* يمنع كسر الكلمات الطويلة */
            word-break: normal; /* يمنع كسر الكلمة نفسها */
            color: black;
            font-size: smaller;
            text-decoration: none;

            > svg {
              width: 1.5rem;
              height: 1.5rem;
            }
          }
        }
      }
    }
    .setbtn {
      @include mediafast(mini-mobile, mobile) {
        display: none;
        // @include flex(column, center, center);
      }
      li {
        @include mediafast(mini-mobile, mobile, tablet) {
        }

        @include mediafast(big-tablet, mini-laptop, laptop, desktop) {
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
        }

        padding: 1rem;
        @include flex(column, center, center);
        > a {
          width: 3rem;
          height: 3rem;
          text-align: center;
          white-space: normal; /* يسمح بانتقال السطر بين الكلمات فقط */
          overflow-wrap: normal; /* يمنع كسر الكلمات الطويلة */
          word-break: normal; /* يمنع كسر الكلمة نفسها */
          color: black;
          font-size: smaller;
          text-decoration: none;

          > svg {
            width: 1.5rem;
          }
        }
      }
    }

    .burger {
      @include mediafast(mini-mobile, mobile) {
        display: inline-block;
      }

      @include mediafast(tablet, big-tablet, mini-laptop, laptop, desktop) {
        display: none;
      }
    }

    li:hover {
      background-color: rgb(194, 191, 191);
    }
  }
  > .innerContainer {
    @include mediafast(mini-mobile, mobile, tablet) {
    }

    @include mediafast(big-tablet, mini-laptop, laptop, desktop) {
      margin: 0.5rem 0.5rem 0.5rem 0;
      border-radius: 1rem;
    }

    grid-area: con;

    background-color: rgb(141, 143, 143);

    > .innerNav {
      height: 3rem;
      padding: 0.5rem;
      box-shadow: 0 2px 5px -5px #000000;
      @include flex(row, space-between, center);
      > .search-container {
        height: 100%;
        background-color: white;
        border-radius: 0.5rem;
        width: 30%;
        @include flex(row, space-between, center);

        > .search-input {
          width: 90%;
          height: 100%;
          border: none;
          border-radius: 0.5rem;
          padding: 0.5rem;
        }
        > .search-input:focus {
          border: none;
          outline: none;
        }
        > .search-button {
          height: 100%;
          @include flex(row, center, center);
          border-radius: 0.5rem;
          border: none;
          background-color: white;
          padding: 0.2rem;

          height: 100%;
          aspect-ratio: 1/1;

          > svg {
            border-radius: 0.5rem;

            height: 100%;
            aspect-ratio: 1/1;
          }
        }
      }
      > .sign {
        height: 100%;
        a {
          display: inline-block;
          height: 100%;
          border-radius: 0.5rem;
          margin-right: 0.2rem;
          border: none;
          padding: 0 1rem;
          text-align: center;
          line-height: 2rem;
          text-decoration: none;
          color: #000000;
          background-color: azure;
        }
        .in {
        }
        .up {
        }
      }
    }
  }
}
