@use '../../scss/base/mixins' as *;
@use '../../scss/base/variables' as *;

.bigBox {
  height: 100%;
  width: 100%;
  position: relative;

  @include mediafast(mini-mobile, mobile, tablet) {
    @include flex(column, center, center);
  }
  @include mediafast(big-tablet, mini-laptop, laptop, desktop) {
    @include flex(row, center, center);
  }

  > .returnbtn {
    @include flex(row, center, center);
    position: absolute;
    top: 1rem;
    left: 1rem;

    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    svg {
      width: 100%;
      height: 100%;
    }
  }

  > .regBox {
    border-radius: 1rem;
    padding: 1rem;

    @include mediafast(big-tablet, mini-laptop, laptop, desktop) {
      @include grid-system(
        repeat(3, 1fr),
        repeat(3, 1fr),
        'logo auth auth  ' 'logo auth auth  ' 'alt auth auth  '
      );
    }

    > .logoBox {
      padding: 0.5rem;
      grid-area: logo;
      @include flex(column, center, center);

      > svg {
        width: 5rem;
        height: 5rem;
        filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.4));
      }
      > h1 {
        font-size: larger;
        text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
      }
    }
    > .authBox {
      grid-area: auth;
      width: 12.25rem;
      @include mediafast(big-tablet, mini-laptop, laptop, desktop) {
        margin-left: 1rem;
      }

      @include flex(column, center, center);
    }
    > .altBox {
      grid-area: alt;
      @include flex(column, space-evenly, center);

      p {
        margin: 0.5rem;
        font-size: x-small;
      }
      > .altIcons {
        a {
          margin: 0.2rem;
        }
        img {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
