$colors: (
  'body': (
    'light': #dcdcdc,
    'dark': #111111,
  ),
  'primary': (
    'light': #fafafa,
    'dark': #2e2e2e,
  ),
  'secondary': (
    'light': #e4e4e4,
    'dark': #111111,
  ),
);

$main-color: (
  'light': rgb(23, 80, 119),
  'dark': rgb(119, 23, 23),
);

$color-text: (
  'light': #111111,
  'dark': #dcdcdc,
);

$color-link: (
  'light': (
    #4ea3d8,
    #1e62d0,
  ),
  'dark': (
    #e25a5a,
    #ff3b3b,
  ),
);

$color-label: (
  'light': #ffffff,
  'dark': #282828,
);

$color-btn: (
  'btnbg': (
    'light': #175077,
    'dark': #771717,
  ),
  'btntxt': (
    'light': #dcdcdc,
    'dark': #dcdcdc,
  ),
);

// background: linear-gradient(90deg, #1e2a50 0%, #324775 100%);
// background: linear-gradient(90deg, #111111 0%, #333333 100%);
