@use '../base/variables' as *;

@mixin mediafast($sizes...) {
  @each $size in $sizes {
    @if map-has-key($breakpoints, $size) {
      $range: map-get($breakpoints, $size);
      $min: map-get($range, min);
      $max: map-get($range, max);

      @media (min-width: $min) and (max-width: $max) {
        @content;
      }
    } 
  }
}

@mixin grid-system($columns, $rows, $areas: null) {
  display: grid;
  grid-template-columns: $columns;
  grid-template-rows: $rows;

  @if $areas != null {
    grid-template-areas: $areas;
  }
}

@mixin flex(
  $direction,
  $justify,
  $align,
  $wrap: nowrap
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}
@mixin generate-flex-classes($direction, $justify, $align) {
  .flex-#{$direction}-#{$justify}-#{$align} {
    @include flex($direction, $justify, $align);
  }
}