@use 'sass:map';
@use './colors' as *;
@use './variables' as *;
@use './mixins' as *;

/* 🎨 تعريف المتغيرات */
:root {
  @each $name, $pair in $colors {
    --#{$name}: #{map.get($pair, 'light')};
  }
  --color-text: #{map.get($color-text, 'light')};
  --color-link: #{nth(map.get($color-link, 'light'), 1)};
  --color-link-hover: #{nth(map.get($color-link, 'light'), 2)};
  --color-label: #{map.get($color-label, 'light')};
  --main-color: #{map.get($main-color, 'light')};
  @each $name, $pair in $color-btn {
    --#{$name}: #{map.get($pair, 'light')};
  }
}

/* 🌙 الثيم الداكن */
[data-theme='dark'] {
  @each $name, $pair in $colors {
    --#{$name}: #{map.get($pair, 'dark')};
  }
  @each $name, $pair in $color-btn {
    --#{$name}: #{map.get($pair, 'dark')};
  }
  --color-text: #{map.get($color-text, 'dark')};
  --color-link: #{nth(map.get($color-link, 'dark'), 1)};
  --color-link-hover: #{nth(map.get($color-link, 'dark'), 2)};

  --main-color: #{map.get($main-color, 'dark')};
  --color-label: #{map.get($color-label, 'dark')};
}

/* 🎯 الكلاسات العامة */
@each $name, $pair in $colors {
  .bg-#{$name} {
    background-color: var(--#{$name}) !important;
  }

  .border-#{$name} {
    border-color: var(--#{$name}) !important;
  }
}

.text {
  color: var(--color-text) !important;
}

.hovershadow {
  box-shadow: 0 6px 15px color-mix(in srgb, var(--color-link) 25%, transparent);

  &:hover {
    box-shadow: 0 6px 15px color-mix(in srgb, var(--color-link) 50%, transparent);
  }
}
.bg-gradient {
  background: var(--main-color) !important;
}

.bg-gradient-darken {
  background: var(--main-color) !important;

  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(0.85); // يجعل التدرج أغمق عند hover
  }
}

input {
  background-color: var(--color-label);
  color: var(--color-text);
}
/* 🔗 الروابط */
a {
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.2s ease;

  &:hover {
    color: var(--color-link-hover);
  }
}

.stroke {
  stroke: var(--color-text);
}
.fill {
  fill: var(--color-text) !important;
}
.libtn {
  a {
    .fill {
      fill: #dcdcdc !important;
    }
    .stroke {
      stroke: #dcdcdc !important;
    }
    color: #dcdcdc !important;
  }
}
.logo {
  svg {
    fill: #dcdcdc !important;
  }
  h1 {
    color: #dcdcdc !important;
  }
}

/* 🔘 الأزرار */

.btn {
  background-color: var(--btnbg);
  color: var(--btntxt);
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  transition: filter 0.2s ease, opacity 0.2s ease;
  &:hover {
    filter: brightness(1.1);
    opacity: 0.95;
  }
}

.txtna {
  color: #746c6c !important;
}

// .checkbox {
//   accent-color: var(--btnbg);
// }
