@use './scss/base/theme' as *;
@use './scss/utilities/utilities' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #f6f7fb;
  min-height: 100vh;
  width: 100%;
  font-family: 'Inter', 'Segoe UI', sans-serif;
  // background: linear-gradient(145deg, rgb(0 29 22) 0%, rgb(1 24 16) 60%, rgb(0 18 12) 100%);

  a {
    // color: hsl(42.67deg 88.24% 80%);
    text-decoration: none;
  }
  h1 {
    // color: hsl(42.67deg 88.24% 80%);
  }
}
