@use '../../../../scss/base/lms-section' as *;

.lms-library-grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

// @media (max-width: 768px) {
//   .lms-library-grid {
//     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//   }
