@use './scss/base/theme' as *;
@use './scss/utilities/utilities' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Inter', 'Segoe UI', sans-serif;
}
